@import '~SassMagic/src/mixins/BEM';

@include b (c-toast) {
  width: 300px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .5);
  display: none;

  @include m (show) {
    display: block;
  }

  @include e (text) {
    text-align: center;
    border-radius: 5px;
    background: rgba(0, 0, 0, .7);
    padding: 10px 8px;
    color: #fff;
    word-break: break-word;
    font-size: 14px;
  }
}
