@import '~SassMagic/src/mixins/BEM';

@include b (process-demo) {
  width: 335px;
  padding: 20px;
  background: #fff;

  .button-box {
    
    .process-select {
      float: left;
      margin-right: 10px;
    }

    .c-button {
      float: left;
      margin-right: 15px;
      width: 40px;
      height: 20px;
      border-radius: 3px;
      background: #f2f3f4;
      color: #cac9c9;
    }
  }
}
