@import '~SassMagic/src/mixins/BEM';

@include b (message-box) {
  background: #fff;
  border-radius: 5px;
  width: 300px;

  @include e (msg) {
    word-break: break-all;
    padding: 25px 8px;
    text-align: center;
    font-size: 14px;
    color: #333;
  }

  @include e (btnBox) {
    display: flex;
  }

  @include e (btn) {
    flex: 1;
    color: #3577cd;
    text-align: center;
    line-height: 44px;
    border-top: 1px solid #EFEFF4;
    font-size: 14px;

    @include m (cancel) {
      border-right: 1px solid #EFEFF4;
      color: #adb5bd;
    }
  }
}
